@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// Google fonts api link
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  line-height: 1.6;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0 60px 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  input {
    width: 60%;
    max-width: 400px;
    padding: 12px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #333;
    border: none;
  }
  button {
    padding: 10px 20px;
    background: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
  }
}

.search-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  .search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
    a {
      font-size: 20px;
      text-decoration: none;
      color: #333;
      display: block;
      padding: 10px;
      text-transform: capitalize;
    }
    .download-button {
      color: #fff;
      padding: 5px 10px;
      background: #008cba;
      display: inline-block;
      margin: 0 10px;
      font-size: 14px;
      border-radius: 5px;
      transition: opacity 0.2s ease-in-out;
      margin: 10px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
#show-more-button {
  background: #008cba;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

// Responsive

@media (max-width: 768px) {
  .search-results {
    .search-result {
      width: 45%;
    }
  }
}
@media (max-width: 576px) {
  .search-result {
    width: 100%;
  }
}
